:root {
  --header-height: 100px; /* Height of the <Header /> */
  --card-height-desktop: 370px; /* Altura base para pantallas grandes */
  --card-height-tablet: 70rem; /* Altura para tablets */
  --card-height-mobile: 23rem; /* Altura para móviles */
}

.albums-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
  max-width: 100%;
  margin: 2rem auto;
}

.albums-grid__item {
  background-color: #fff;
  border-radius: 8px;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
  overflow: hidden;
  transition: transform 0.8s ease;
  position: relative;
  justify-content: space-between; /* Distribuir espacio verticalmente */
  height: var(--card-height-desktop);
}

.albums-grid__item:hover {
  /*transform: translateY(-5px);*/


}

.popup-container {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 80%;
  background-color: #424242;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  border-radius: 8px;
}

.popup-container header{
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Tablet styles */
@media (max-width: 768px) {
  .albums-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 12px;
    padding: 12px;
  }

  .albums-grid__item {
    height: 25rem;
  }

  .popup-container {
    width: 90%;
    height: 85%;
    padding: 12px;
  }
}

/* Mobile styles */
@media (max-width: 480px) {
  .albums-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 8px;
    padding: 8px;
  }

  .albums-grid__item {
    height: 23rem;
  }

  .popup-container {
    width: 95%;
    height: 90%;
    padding: 8px;
  }
}
