.albums-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
  max-width: 90%;
  margin: 8rem auto;
}

.albums-grid__item {
  height: 37rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative; /* Ensure absolute elements are positioned correctly */
}

.albums-grid__item:hover {
  transform: translateY(-5px);
}

.albums-grid__item .album-card {
  width: 100%;
  height: 100%;
  position: relative; /* Ensure absolute elements are positioned correctly */
}

.albums-grid__item .album-card .cover {
  width: 100%;
  height: auto;
  max-width: 130px; /* Adjust the size of the cover */
  max-height: 130px; /* Adjust the size of the cover */
  margin: 0 auto;
}

.albums-grid__item .album-card .top,
.albums-grid__item .album-card .bottom {
  position: absolute; /* Ensure floating elements are positioned correctly */
  width: 100%; /* Ensure elements take full width */
  left: 0; /* Align elements to the left */
  transform: none;
  margin-top: 8px;
  z-index: 1; /* Ensure elements are above other content */
}

.albums-grid__item .album-card .top {
  top: 0; /* Align top element to the top */
}

.albums-grid__item .album-card .bottom {
  bottom: 0; /* Align bottom element to the bottom */
}

.bg-header-background {
  background-color: #333; /* Replace with the actual header background color */
}

.bg-header-hover {
  background-color: #555; /* Replace with the actual header hover color */
}

.popup-container {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 80%;
  background-color: #424242;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow-y: auto;
  border-radius: 8px;
}

/* Tablet styles */
@media (max-width: 768px) {
  .albums-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 12px;
    padding: 12px;
  }

  .albums-grid__item {
    height: 25rem;
  }

  .albums-grid__item .album-card .cover {
    max-width: 100px;
    max-height: 100px;
  }
}

/* Mobile styles */
@media (max-width: 480px) {
  .albums-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 8px;
    padding: 8px;
  }

  .albums-grid__item {
    height: 23rem;
  }

  .albums-grid__item .album-card .cover {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block; /* Ensure the cover image is centered */
  }
}
