  .embla {
    position: relative; /* Agregado para que los botones se posicionen de forma relativa a cada carrusel */
    max-width: 90%;
    margin: 3rem auto;
    --slide-height: 100%;
    --slide-spacing: 1.5rem;
    --slide-size: 15%;
  }

  .embla__viewport {
    overflow: hidden;
    position: relative; /* Contenedor de referencia para posicionar los botones */
  }

  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
    height: 35rem;
  }

  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }

  .embla__slide__card {
    /* box-shadow: inset 0 0 0 0.2rem var(#272536); */
    border-radius: 1rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
    user-select: none;
  }

  .embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
  }

  .embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
  }

  .embla__button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3.6rem;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro transparente */
    border: none;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Oculto por defecto */
    transition: opacity 0.3s ease;
  }
  
  /* Posicionar cada botón en el lateral */
  .embla__button--prev {
    left: 0;
    border-radius: 0 1rem 1rem 0;
  }
  .embla__button--next {
    right: 0;
    border-radius: 1rem 0 0 1rem;
  }
  
  /* Al hacer hover en el carrusel se muestran los botones */
  .embla:hover .embla__button {
    opacity: 1;
  }
  
  .embla__button:disabled {
    color: var(--detail-high-contrast);
  }

  .embla__button__svg {
    width: 35%;
    height: 35%;
  }

  .embla__selected-snap-display {
    justify-self: flex-end;
    align-self: center;
    color: var(--text-low-contrast);
    font-weight: 600;
  }

  .embla__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .embla__progress {
    border-radius: 1.8rem;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    background-color: var(--background-site);
    position: relative;
    height: 0.6rem;
    width: 13rem;  /* O ajusta a la medida que necesites */
    overflow: hidden;
  }
  
  .embla__progress__bar {
    background-color: var(--text-body);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: -100%;
    transition: transform 0.3s ease;
  }
  
  /*
  .embla__slide__card div.icons {
    bottom: 2;
    left: 8; 
    right: 0;
    position: absolute; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
  }*/

  @media (max-width: 700px) {

    /* Mobile - 1 slide in viewport */

    .embla {
      max-width: 90%;
      margin: 0rem auto;
    }

    .embla__controls {
      margin-top: 0rem;
    }
    .embla__container {
      height: 20rem;
    }

    .embla__slide {
      flex: 0 0 40%;
    }

    .embla__slide__card {
      font-size: 10%;
      /*font-weight: 300;*/
    }

    .embla__slide__card img.cover {
      width: 110px;
      height: 110px;
    }

    .embla__slide__card .subgenres, .info {
      display: none;
    }

    .embla__slide__card img.format {
      width: 20px;
      height: 20px;
    }
  }

  @media (min-width: 768px) {

    /* Tablet - 2 slides in viewport */
    .embla__container {
      height: 60rem;
    }

    .embla__slide {
      flex: 0 0 50%;
    }
  }

  /* Desktop - 3 slides in viewport */
  @media (min-width: 992px) {
    .embla__container {
      height: 37rem;
    }

    .embla__slide {
      flex: 0 0 var(--slide-size);
    }

    .embla__slide__card {
      height: var(--slide-height);
      font-size: 4rem;
      font-weight: 600;
    }

    .embla__slide__card img.format {
      width: 25px;
      height: 25px;
    }
  }